$(document).ready(function() {
  
  
  //JS script for neaterscooper


    if(!!window.performance && window.performance.navigation.type === 2)
    {
        window.location.reload();
    }

  //Add to Cart
  function addToCartNs(prodVariantId, prodQuantity){  
      
      let url = '/cart/add.js';	
      let data = {
        	quantity: prodQuantity,
            id: prodVariantId
        
        };

      $.ajax({
        url: url,
        data: data,
        method: "POST",
        dataType: 'json',
        async: false
      });
  }
  
  //Redirect to Cart
  function cartRedirectNs(){
   		location.href = "/cart"
  }
  
  
  //AJAX Cart to Table
  function putCartToTableNs(){
    $.getJSON( '/cart.js', function(cart) {
                         var product_rows = cart.items;
                         var row = '';
      					 $('.reviewTableBody').html(row);	
                         var price = 0;
                         var order_total = 0;

                         for(var i=0; i<product_rows.length; i++){
                           var title = product_rows[i].title;
                           var productType = product_rows[i].product_type;
                           var quantity = +product_rows[i].quantity;
                           price = product_rows[i].price * .01;
                           var total_price = quantity * price;
                           order_total += +total_price;
                           var product_id = product_rows[i].id;
                           var href_del = "/cart/change?id=" + product_id + "&quantity=0";
                           
                           
                           //row += "<tr><td>" + title + "</td><td>" + quantity + "</td><td>" + total_price + "</td><td>P&H</td><td><a href=" + href_del + " class='del'>Delete</a></td></tr>";
//                            row += "<tr><td id='product_name'>" + title + "</td><td id='" + product_id + "' class='" + product_id + " product'>" + quantity + "</td><td>" + total_price.toFixed(2) + "</td><td>P&H</td><td><a href=" + href_del + " class='del' id='" + product_id + "'>Delete</a></td></tr>";
                           row = "<tr><td id='product_name'>" + title + "</td><td id='" + product_id + "' class='" + product_id + " " + productType + " product'><select class='ns-select-quantity'><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option></select>" + "<span style='display:none'>" + quantity + "</span>" + "</td><td>" + total_price.toFixed(2) + "</td></tr>";//<td></td>
                           	  
                           if(productType != 'freeupsell') {
                               $('.reviewTableBody').append(row);
                           }
                           var sel = "#" + product_id + " .ns-select-quantity";
						   $("body").find($(sel)).val(quantity);
                           $("body").find($(".neaterfeeder select")).prop("disabled", true);
                           $("body").find($(".freeupsell select")).prop("disabled", true);
                         }
                         
                         $('.ordertotal').text(order_total.toFixed(2));
      				
                      }); 
  
  }
              
  //Clear cart
  function clearCartNs(){
    $.ajax({
      url: "/cart/clear.js",
      type: "POST",
      async: false
    });
  }
  
  //Update cart
  function updateCartNs(data){
        $.ajax({
          url: '/cart/update.js',
          type: "POST",	
          data: {updates: data},        
          dataType: 'json',
          async: false,
          success: function(){
            putCartToTableNs();            
          } 
        }); 
  }
  
  
   function snapshotCartNs(){
    $.ajax({
      url: "/cart.js",
      method: "GET",
      dataType: 'json',
      async: false,
      success: function(cart){
        console.log(cart);
        var snapshotCartObjScooper = {};
        var snapshotCartObjNeaterFeeder = {};
        for(var i=0; i<cart.items.length; i++){
        	var itemsProductType = cart.items[i].product_type;
           	var id = cart.items[i].id;
            var quantity = cart.items[i].quantity;
          //console.log(cart.items[i]);
          	switch(itemsProductType){
              case 'scooper':  
                snapshotCartObjScooper[id] = quantity;
                break;

              case 'neaterfeeder':
                snapshotCartObjNeaterFeeder[id] = quantity;
                break;
            };	
        }
        console.log(snapshotCartObjScooper);
        console.log(snapshotCartObjNeaterFeeder);        
  		
        var sumScooper = 0;
        for (key in snapshotCartObjScooper) {
        	sumScooper += snapshotCartObjScooper[key];
        }
        //console.log(sumScooper);
        
        if(sumScooper>0){
          $.ajax({
            dataType: "json",
            url: "/products/free-waste-bags-4-boxes-60-bags.js",
            async: false,
            success: function(data){      	
              var variantIdUpsell = data.variants[0].id;
              var updateFreeUpsellObj = {};
              updateFreeUpsellObj[variantIdUpsell] = sumScooper;
              updateCartNs(updateFreeUpsellObj);
              cartRedirectNs();
            }
          });
        }  
      }  
    });
  }
  
  
  
  //Action: add one product to Cart
  $("#productSelection .btn").on("click", function(e){  
	
    e.preventDefault();
    $("#warning").hide();
    $(this).css('pointer-events', 'none');
    
  	let productVariantId = $(this).data("productvariantid");
    
    var sel = "#" + productVariantId + " .ns-select-quantity";
	var currentNums = $("body").find($(sel)).val();
    if(!currentNums || currentNums < 10){    
    	addToCartNs(productVariantId, 1);
    	putCartToTableNs();
    }
    setTimeout(function(el){
        el.css('pointer-events', 'visible');
      }, 500, $(this));
    
  });
  
  $("body").on("change",".ns-select-quantity", function(){
  	console.log($(this).val());
    var quantity = $(this).val() 
    var productVariantId = $(this).parent().attr("id");
    var updateObj = {};    	
    updateObj[productVariantId]= quantity;
    updateCartNs(updateObj);
  });
  
  
  //Action: add/delete neaterfeeder product to/from Cart
  $("#cbxSelectProduct").on("change", function(e){
    var isChecked = $(this).prop( "checked" );
    var productVariantId = $(this).data("productvariantid");
    var updateObj = {};
    if(isChecked){      	
    	updateObj[productVariantId]= 1;     	
    }
    else{
    	updateObj[productVariantId]= 0; 
    }
    updateCartNs(updateObj);
  	
  });
  
  
  
  
  
  
  //Action: after load page add/delete neaterfeeder product to/from Cart
  var isChecked = $("#cbxSelectProduct").prop( "checked" );
  var productVariantId = $("#cbxSelectProduct").data("productvariantid");
  var updateObj = {};
    if(isChecked){      	
    	updateObj[productVariantId]= 1;
    }
    else{
    	updateObj[productVariantId]= 0; 
    }
    updateCartNs(updateObj);
  
  
  
  //Action: popup call
  $(".info_popupContinue").on("click", function(e){	
      e.preventDefault();

      var isScooperInCart = $("body").find(".reviewTableBody .scooper").length;
	  if(isScooperInCart){
          $("#warning").hide();
          $('#ns-popup').arcticmodal();
      }
      else{
          $("#warning").show();
      }

   });
  
  //Action: reject upsell offer
  
  $("#rejectOffer").on("click", function(e){
  	e.preventDefault();  
    snapshotCartNs();    
    
  });
  
  
  //Action: accept upsell offer
  
  $("#acceptOffer").on("click", function(e){
  	e.preventDefault();
	var upsellSum = $( "#upsell-select option:selected" ).text();
    //console.log(upsellSum);
    $.ajax({
            dataType: "json",
            url: "/products/scented-waste-bags-6-boxes-90-bags.js",
            async: false,
            success: function(data){      	
              var variantIdUpsell = data.variants[0].id;
              var updateUpsellObj = {};
              updateUpsellObj[variantIdUpsell] = upsellSum;
              updateCartNs(updateUpsellObj);
              snapshotCartNs();
            }
          });
  });
  
  
  
  
  $("h1 .logo__image").on("click", function(){
  	clearCartNs();
  });


    $("#clear-btn").on("click", function(){
        clearCartNs();
        location.href = "/";
    });
  //end script for neaterscooper
  
  
  
  
  
  
  
  
  
  
  
  

  var snapshotCartObj = {};
  

  


  



  
  
  function cartRedirect(){
   		location.href = "/cart"
  }
  
  
  function updateCart(prodQuantity){
  	let prodId = $("body").find('.product').attr("id");   
    let url = '/cart/change.js';
    var data = {
        	quantity: prodQuantity,
          	id: prodId        
        };
    	$.ajax({
                  url: url,
                  data: data,        
                  dataType: 'json',
                  success: function(){
                      putCartToTable();
                  }
            });  
  }
  
  
  
  
  
  
  
  
  
  
  
//   $('.choice').on("click", function(e){
    
// 		//GET PRODUCT
//     var handle = $(this).attr("id");    
//     var action = '/products/' + handle + '.js';  	
//     $.getJSON( action, function(product) {
//       alert('The title of this product is ' + product.title);
//     } );  
//   });
  
  
  
  
	function getCookie(name) {
      var matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }
  

  

 
  
  	//ADD PRODUCT BY variant ID
//     $('.buy-me').on("click", function (e) {  
//       var variantid = $(this).attr("id");
      
//       var check_set = '';
//       var arg = "ul[id='" + variantid + "']";
//       check_set = $(".sets").find(arg);
//       if(!check_set.length){      
//         var title_product = $(this).siblings("div").text();
//         $(".sets").append(set);
//         $(".sets").find("ul[id=line]").attr("id", variantid).prepend("<li style='font-weight: bold; text-align: center'>" + title_product + "</li>");
        
        
        
//       }  
        
      
//       var quantity_selector_id = '#quantity-selector-' + variantid; 
//       var quantity = $(quantity_selector_id).val();
//       var url = 'https://buyneaterfeeder.myshopify.com/cart/add.js';	
//       var data = {
//         	quantity: quantity,
//             id: variantid
        
//         };

//             $.ajax({
//                   url: url,
//                   data: data,
//               	  method: "POST",
//                   dataType: 'json',
//                   success: function(){
//                       putCartToTable();
//                   }
//             });  
// 	});
  
  //DELETE PRODUCT BY variant ID
  
  $('.reviewTableBody').on("click", ".del", function(e){
		e.preventDefault();
    	var id_to_delete = $(this).attr('id');
    
    	
        var arg_to_delete = "ul[id='" + id_to_delete + "']";
        $(".sets").find(arg_to_delete).remove();
          
    	
    
    
        var url = '/cart/change.js';
    	var data = {
        	quantity: 0,
          	id: id_to_delete        
        };
    	$.ajax({
                  url: url,
                  data: data,        
                  dataType: 'json',
                  success: function(){
                      putCartToTable();
                  }
            });  
  });
  

  
  

  
  	
  	//Second popup
  
  $(".o_button_close_popup_2").on("click", function(e){
      
      var cartObj = {updates:{}}
      handler(function(){
        setTimeout(function(){
          updateCart(cartObj)
          cartRedirect()
		}, 800)
        
      });
      
     
                                                                                              
      function handler(callback){
            var valuesList = {
              'cat-more-height': 0,
              'small-dog-more-height': 0,
              'med-dog-more-height': 0,
              'large-dog-more-height': 0
            }
            
            //console.log(valuesList)
      		for (key in valuesList) {
            	if(valuesList[key] > 0){              
              		buildCartSingleObjLine(getUrlByKey(key), valuesList[key])          
      			}
            }
        callback()
      }
            
             
      function cartRedirect(){
      		location.href = "/cart"
      }
            
      
      function getUrlByKey(key){
      		return '/products/' + key + '.js';
      }
      
      
      function buildCartSingleObjLine(url, quantity){
        $.getJSON(url).then(function(product) {
            let prd = product.variants[0].id
            cartObj.updates[prd] = quantity
        });         
      }
      
      /*function updateCart(data){
        $.ajax({
          url: '/cart/update.js',
          type: "POST",
          data: data,
          dataType: 'json',
          async: false,
          success: function(){
            putCartToTable();
          }
        });
      }*/
      
    
  });
  
  
//   	$('#yes').on("click", function (e) { 
//      e.preventDefault();
      
//       var cartObj = {updates:{}}
//       handler(function(){
//         setTimeout(function(){
//           updateCart(cartObj)
//           cartRedirect()
// 		}, 800)
        
//       });
      
//       function getvalue(selector){
//       		//return (Number($('.upsells').find(selector + " .upsell_yes").val()) > 0) ? Number($('.upsells').find(selector + " .upsell_yes").val()) : 0
//       		//console.log(Number($('.upsells').find(selector + " input:checked").val()))
//             return (Number($('.upsells').find(selector + " input:checked").val()) > 0) ? Number($('.upsells').find(selector + " input:checked").val()) : 0
//       }
                                                                                              
//       function handler(callback){
//             var valuesList = {
//               'cat-more-height': getvalue('#deluxe_cat'),
//               'small-dog-more-height': getvalue('#deluxe_small_dog'),
//               'med-dog-more-height': getvalue('#deluxe_med_dog'),
//               'large-dog-more-height': getvalue('#deluxe_large_dog')
//             }
            
//             console.log(valuesList)
//       		for (key in valuesList) {
//             	if(valuesList[key] > 0){              
//               		buildCartSingleObjLine(getUrlByKey(key), valuesList[key])          
//       			}
//             }
//         callback()
//       }
            
             
//       function cartRedirect(){
//       		location.href = "/cart"
//       }
            
      
//       function getUrlByKey(key){
//       		return '/products/' + key + '.js';
//       }
      
      
//       function buildCartSingleObjLine(url, quantity){
//         $.getJSON(url).then(function(product) {
//             let prd = product.variants[0].id
//             cartObj.updates[prd] = quantity
//         });         
//       }
      
//       function updateCart(data){
//         $.ajax({
//           url: '/cart/update.js',
//           type: "POST",	
//           data: data,        
//           dataType: 'json',
//           async: false,
//           success: function(){
//             putCartToTable();
//           } 
//         }); 
//       }     
//   	});
  
  //No upgrade - no more height
  
  var count_no_upgrade = 0;
  $('.no_button_close_popup').on("click", function(e){
    e.preventDefault();
    count_no_upgrade++; 
    console.log(count_no_upgrade);
    if(count_no_upgrade > 1){
              $('#modalthree').arcticmodal({
                closeOnEsc: false,
                closeOnOverlayClick: false,
                beforeOpen: function(data, el) {
                      location.href = "/cart";
                  }
              }).hide();
            }
            else{
            	$('#modalthree').arcticmodal({
                closeOnEsc: false,
                closeOnOverlayClick: false
              });	
            }
  });
  
  	
  $('.no_button_close_popup_2').on("click", function(e){
  	e.preventDefault();
    count++;
    //console.log(count);
    if(count > 1){
              $('#modalthree').arcticmodal({
                closeOnEsc: false,
                closeOnOverlayClick: false,
                beforeOpen: function(data, el) {
                      location.href = "/cart";
                  }
              }).hide();
            }
            else{
            	$('#modalthree').arcticmodal({
                closeOnEsc: false,
                closeOnOverlayClick: false
              });	
            }
    
  });
  
  
  
//   $('#rejectOffer').on("click", function(){
//   	cartRedirect();
//   });
  
  
  
});  
  